.navbar {
  background: linear-gradient(90deg, #7f7d83, #b0a5c9);
  backdrop-filter: blur(8px);
  color: #fdfbff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6);
  padding: 0.8rem 2rem;

}

.navbarContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}
.brand-text{
  color: #fdfbff;
}


.nav-left {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.navbar-brand img {
  height: 42px;
}


.nav-center {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.nav-right {
  display: flex;
  align-items: end;
}