.logoContainer {
    display: flex;
    
    align-items: end;
    gap: 1px;
  }
  .navbar {
    background: linear-gradient(90deg, #7f7d83, #b0a5c9);
    backdrop-filter: blur(8px);
    color: #fdfbff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6);
  }
  .navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .navbar-brand img {
    height: 42px;
  }
  .navbar .nav-link svg {
      color: inherit;
      font-size: 0.9rem;
    }
  